.button {
    -fx-font-size: 20px;
    -fx-font-family: Minecraft;
    -fx-text-fill: white;
    -fx-background-color: #9f9f9f;
    -fx-border-radius: 3;
    -fx-max-width: 175px;
    -fx-max-height: 30px;
}

.main-box {
    -fx-max-width: 1280px;
    -fx-max-height: 720px;
    -fx-alignment: center;
}

.title-box {
    -fx-alignment: center;
    -fx-padding: 50px 0 100px 0;
}

.text-noms {

}